.breadcrumbs {
  @include flex-v-center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 22px;

      &::after {
        content: "/";
        position: absolute;
        right: -14px;
        top: 1px;
        color: #9a9ca5;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
    transition: color 0.3s ease-in-out;

    &:not([href]) {
      color: #9a9ca5;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }
  }
}
