.categories {
  padding-top: 120px;
  padding-bottom: 180px;

  &__title {
    margin-bottom: 39px;
  }
}

.categories-nav {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  &__item {
    width: calc(100% / 6);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    min-width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }

    &--active {
      border-color: currentColor;
      color: var(--color-primary);
    }
  }
}

.categories-list {
  column-gap: var(--grid-gap);
  margin-bottom: 60px;
  row-gap: 60px;

  &__item {
    grid-column: 6 span;
  }
}

.news-article__descr {
  overflow: hidden;
  height: 52px;
}

.categories-pag {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    transition: color 0.3s ease-in-out;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: cover;
      fill: currentColor;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }

    &--active {
      color: var(--color-primary);
    }
  }
}
