.clients {
  padding-top: 160px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__titile {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
}
