.comment {
  display: flex;

  &__left {
    max-width: calc(100% - 630px);
    padding-right: 30px;
  }

  &__right {
    width: 630px;
  }

  &__author {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__time {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__body {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);

    a {
      font-weight: 700;
      color: var(--color-primary);
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--color-primary);
      }

      &:active {
        color: var(--color-active);
      }
    }

    * {
      margin: 0;
      margin-bottom: 20px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__reply {
    display: inline-flex;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
    transition: color 0.3s ease-in-out;

    svg {
      position: relative;
      top: 2px;
      display: block;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      object-fit: cover;
      fill: currentColor;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }
  }
}
