.contacts-info {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #f4f5f7;

  &__list {
    --contacts-gap: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 118px;
    gap: calc(var(--contacts-gap) * 2);
  }

  &__soc {
    margin-bottom: 41px;
  }

  &__social {
    justify-content: center;

    .social__item:not(:last-child) {
      margin-right: 24px;
    }

    .social__link {
      width: 32px;
      height: 32px;

      svg {
        fill: var(--color-storm);
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--contacts-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url("../img/divider.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__adress {
    display: inline-block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebony);
  }

  &__link {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 16px;
    text-decoration: underline;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-active);
    }

    &:active {
      color: var(--color-active);
    }
  }

  &__element {
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__value {
    color: var(--color-ebony);
  }
}

.contacts-info__value {
  transition: color 0.3s ease-in-out;

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-primary);
  }
}
