.contacts-section {
  padding-top: 80px;
  padding-bottom: 77px;
  background-image: url("../img/contacts-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-ebony);

  &__form {
    background-color: var(--color-light);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 48px 40px;
  max-width: 495px;

  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 60px 80px -20px rgba(30, 33, 44, 0.16);

  &__title {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__field {
    margin-bottom: 21px;
  }

  &__checkbox {
    margin-bottom: 22px;
  }

  &__btn {
    padding: 12px 31px;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}
