.desicions {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f5f7;

  &__left {
    grid-column: 5 span;

    img {
      margin-bottom: -142px;
    }
  }

  &__right {
    grid-column: 7 span;
    padding-left: 104px;
  }

  &__title {
    margin-bottom: 62px;
  }

  &__item {
    position: relative;
    padding-left: 37px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 20px;
      height: 20px;
      background-image: url("../img/desicions-check.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
