.facts {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--color-light);

  &::before {
    content: "";
    position: absolute;
    left: -9px;
    top: -195px;
    width: 570px;
    height: 1065px;
    background-image: url(../img/facts-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 736px;
    gap: 48px;
  }

  &__title {
    margin-bottom: 62px;
  }
}

.facts-element {
  &__circle {
    --progress-stroke: #000;
    --progress-bg-opacity: 0.3;
    position: relative;
    margin-bottom: 20px;
    width: 148px;
    height: 148px;

    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .progress {
      stroke: var(--progress-stroke);
      transform: rotate(-90deg) translateX(20px);
      transform-origin: center;
    }

    .progress-bg {
      stroke: var(--progress-stroke);
      opacity: var(--progress-bg-opacity);
    }

    &--one-color {
      --progress-stroke: #f89828;
    }

    &--two-color {
      --progress-stroke: #f52f6e;
    }

    &--three-color {
      --progress-stroke: #5a87fc;
    }

    &--four-color {
      --progress-stroke: #03cea4;
    }
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-ebony);
  }
}
