.footer {
  padding: 80px 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-ebony);

  &__left {
    grid-column: 7 span;
  }

  &__logo {
    margin-right: 60px;
  }

  &__top {
    @include flex-v-center;
    margin-bottom: 22px;
  }

  &__descr {
    margin: 0;
    width: 100%;
    max-width: 495px;
    font-size: 14px;
    line-height: 150%;
  }

  &__form {
    grid-column: 5 span;
  }

  &__adress {
    grid-column: 4 span;
  }

  &__nav {
    grid-column: 8 span;
  }

  &__copyright {
    padding-top: 30px;
    grid-column: 12 span;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-light);

    span {
      padding-left: 22px;
      background-image: url("../img/heart.svg");
      background-position: 2px center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}

.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-light);
  }

  &__items {
    @include flex-v-center;
    margin-bottom: 15px;
  }

  .form-field {
    margin: 0;
    width: 364px;

    &__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      background: rgba(255, 255, 255, 0.12);
    }
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 19px;
    letter-spacing: normal;
  }

  &__descr {
    margin: 0;
    font-size: 12px;
    line-height: 150%;
  }
}

.footer-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer-adress {
  padding-top: 20px;
  font-style: normal;

  &__item {
    display: block;
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    a {
      color: inherit;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--color-light);
      }

      &:active {
        color: var(--color-light);
      }
    }
  }

  &__name {
    color: var(--color-light);
  }
}

.footer-nav {
  display: flex;
  padding-top: 20px;
  padding-left: 54px;

  &__col {
    &:not(:last-child) {
      margin-right: 125px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 160%;
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-light);
    }

    &:active {
      color: var(--color-light);
    }
  }
}
