.form-field {
  @include flex-column-start;

  &__caption {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__input {
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding-left: 15px;
    min-width: 260px;
    min-height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    &::placeholder {
      color: #9a9ca5;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &--big {
      padding-top: 10px;
      min-height: 66px;
      resize: none;
    }
  }

  &--big {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
    }
  }

  &--gray {
    width: 100%;

    .form-field__input {
      width: 100%;
      background-color: var(--color-athens);
    }
  }
}
