.header {
  padding-top: 23px;
  padding-bottom: 21px;

  &__container {
    @include flex-all-sb;
  }

  &__nav {
    margin-left: -122px;
  }

  &--main {
    background-color: var(--color-light);
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.logo {
  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}
