.hero {
  &__content {
    max-width: 590px;
  }

  &__next {
    position: absolute;
    right: 32px;
    top: 50%;
    z-index: 30;
    background-color: var(--color-light);
    transform: translateY(-50%);
  }

  &__prev {
    position: absolute;
    left: 32px;
    top: 50%;
    z-index: 30;
    background-color: var(--color-light);
    transform: translateY(-50%);
  }

  &__pag {
    counter-reset: pag;

    .swiper-pagination-bullet {
      border-radius: 0;
      width: 178px;
      height: auto;
      text-align: left;
      background-color: transparent;

      &::before {
        counter-increment: pag;
        content: "0" counter(pag);
      }

      &::after {
        content: "";
        width: 100%;
        height: 2px;
      }
    }
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.hero-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-slide {
  padding-top: 220px;
  padding-bottom: 354px;
  background-color: var(--color-gray);
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
