.news-article {
  overflow: hidden;
  border-radius: 4;
  height: 100%;
  box-shadow: var(--main-shadow);
  background: var(--color-light);

  &__text {
    padding: 20px 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__meta {
    margin-bottom: 17px;
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }
  }

  &--small {
    .recent-article__descr {
      display: none;
    }

    .recent-article__text {
      padding: 12px 24px;
    }

    .recent-article__title {
      margin-bottom: 9px;
    }
  }
}

.article-meta {
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);

  &__item {
    position: relative;
    color: inherit;

    &:not(:last-child) {
      margin-right: 21px;

      &::after {
        content: "";
        position: absolute;
        right: -13px;
        top: -2px;
        width: 1px;
        height: 18px;
        color: inherit;
        background-color: currentColor;
      }
    }

    &--comments {
      padding-left: 24px;
      background-image: url(../img/comments.svg);
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}

a.article-meta__item {
  transition: color 0.3s ease-in-out;
  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-active);
  }
}
