.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-position: right -8px top;
  background-repeat: no-repeat;
  background-color: var(--color-athens);

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__meta {
    .article-meta__item {
      font-size: 16px;
      line-height: 160%;
    }

    a.article-meta__item {
      font-weight: 700;
      color: var(--color-primary);
    }

    time.article-meta__item {
      padding-left: 28px;
      background-image: url("../img/time.svg");
      background-position: left center;
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }

    .article-meta__item--comments {
      background-size: 20px 20px;
    }

    .article-meta__item:not(:last-child)::after {
      right: -17px;
      height: 16px;
    }

    .article-meta__item:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__social {
    svg {
      fill: var(--color-storm);
      opacity: 1;
    }
  }

  &--services {
    background-image: url("../img/services-hero-bg.png");
  }

  &--services-inner {
    background-image: url("../img/services-inner-hero-bg.png");
  }

  &--work {
    background-image: url("../img/work-hero-bg.png");
  }

  &--work-inner {
    background-image: url("../img/work-inner-hero-bg.png");
    background-position: right -8px top 48px;
    background-color: var(--color-light);
  }

  &--about {
    background-image: url("../img/about-hero-bg.png");
  }

  &--positions {
    background-image: url("../img/positions-hero-bg.png");
    background-position: right -9px bottom;
  }

  &--news {
    background-image: url("../img/news-hero-bg.png");
    background-position: right -9px bottom;
  }

  &--post {
    .page-hero__title {
      margin-bottom: 48px;
      max-width: none;
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      text-transform: initial;
    }
  }

  &--contacts {
    background-image: url("../img/contacts-hero-bg.png");
    background-position: right -9px bottom;
  }
}
