.partners {
  padding: 80px 0;
  background-color: var(--color-athens);

  &__titile {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    column-gap: 102px;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
  }

  &__link {
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &--about {
    padding: 120px 0;
    background-color: var(--color-light);

    .partners__titile {
      margin-bottom: 25px;
    }
  }
}
