.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background: var(--color-light);
  transition: transform 0.3s ease-in-out;

  &__content {
    @include flex-column-center;

    padding: 0 10px;
    padding-top: 16px;
    padding-bottom: 23px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__btn {
    display: none;
    margin-top: 24px;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 13px 31px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    transform: translateY(-3px);
  }
}
