.pricing {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f4f5f7;

  &__decorate {
    position: absolute;
    left: -8px;
    top: 0;
  }

  &__descr {
    margin-bottom: 60px;
  }
}

.table-wrapper {
  position: relative;
  z-index: 5;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background: var(--color-light);
}

.table {
  border-collapse: collapse;
  width: 100%;

  &__heading {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-ebony);
  }

  &__per {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--color-storm);
  }

  &__th {
    padding-right: 20px;
    padding-top: 31px;
    padding-bottom: 24px;

    &:first-child {
      vertical-align: bottom;
      padding-left: 24px;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-align: left;
      color: var(--color-ebony);
    }
  }

  &__body {
    .table__row {
      &:nth-child(odd) {
        background-color: #f4f5f7;
      }

      &:last-child {
        .table__col {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }

  &__col {
    padding: 16px 0;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    text-align: center;

    .btn {
      padding: 0 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 36px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }
    }

    &:first-child {
      padding-left: 24px;
      text-align: left;
    }
  }

  &__check {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url("../img/table-check.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
    text-align: center;
  }
}
