.services-benefits {
  padding-top: 80px;
  background-color: var(--color-ebony);

  &__title {
    color: var(--color-light);
  }

  &__btn {
    transform: translateY(13px);
    width: 390px;
  }

  &__centered {
    margin-bottom: -13px;
  }

  &__description {
    font-size: 18px;
    line-height: 150%;
  }

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 27px;
    gap: calc(var(--mission-gap) * 2);
  }

  &__item {
    position: relative;
    padding-top: 71px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url("../img/divider.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &--terms {
      background-image: url(../img/terms.svg);
    }

    &--worker {
      background-image: url(../img/workers.svg);
    }

    &--control {
      background-image: url(../img/control.svg);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-light);
  }

  &__descr {
    margin: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);
  }
}
