.slider-nav {
  @include flex-v-center;
  position: relative;
  z-index: 15;
  user-select: none;

  &__btn {
    @include flex-all-center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: var(--color-gray);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      color: inherit;
      fill: currentColor;
      object-fit: cover;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
    }

    &:active {
      color: var(--color-light);
      background-color: var(--color-active);
    }
  }
}
