.social {
  display: flex;
  text-align: center;

  &__item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: var(--color-light);
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &:active {
      svg {
        opacity: 1;
      }
    }
  }
}
