.testimonials {
  padding-top: 97px;
  background-color: var(--color-athens);

  &__content {
    max-width: 612px;
  }

  &__image {
    position: relative;
    z-index: 5;
    margin-bottom: -60px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    position: relative;
    padding-bottom: 12px;
  }

  &__slider-nav {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.testimonials-item {
  &__image {
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 25px;
    width: 72px;
    height: 72px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__author {
    display: block;
    padding-right: 120px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-ebony);
  }

  &__author-posotion {
    display: block;
    padding-right: 120px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }
}
