.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(#1e212c, 0.6);
  }

  svg {
    fill: #fff;
  }

  &__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__play {
    @include flex-all-center;

    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 80px;
    height: 80px;
    background-color: var(--color-primary);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 26px;
      height: 26px;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-active);
    }

    &:active {
      background-color: var(--color-active);
    }
  }

  &__muted {
    @include flex-all-center;

    border-radius: 100%;
    position: absolute;
    left: 32px;
    bottom: 32px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: rgba(#fff, 0.12);
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: rgba(#fff, 0.4);
    }

    &:active {
      background-color: rgba(#fff, 0.4);
    }
  }
}
