.we-offer {
  padding: 120px 0;
  background-color: var(--color-light);

  &__image {
    grid-column: 7 span;
  }

  &__content {
    padding-left: 75px;
    padding-top: 5px;
    grid-column: 5 span;
  }

  &__title {
    margin-bottom: 55px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }

  &__accordion {
    &:not(:last-of-type) {
      margin-bottom: 13px;
    }

    .accordion__control {
      position: relative;
      padding-right: 20px;
      padding-left: 44px;
      text-align: left;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }
    }

    .accordion__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: var(--color-ebony);
    }

    .accordion__content {
      padding: 13px 0;
      padding-right: 20px;
      padding-left: 44px;

      p {
        margin: 0;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
      }
    }

    .accordion__icon {
      position: absolute;
      left: 1px;
      top: 10px;
      display: block;
      width: 22px;
      height: 22px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        background-repeat: 100px;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        background-repeat: 100px;
        width: 2px;
        height: 100%;
        background-color: var(--color-primary);
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out;
      }
    }
  }

  .is-open .accordion__icon {
    transform: none;

    &::after {
      opacity: 0;
    }
  }
}
