<section class="about-mission section-offset">
  <div class="container">
    <h2 class="title title--center">Our core values</h2>
    <p class="descr descr--center">
      Our about-mission is&nbsp;to&nbsp;set the highest standards for
      construction sphere.
    </p>
    <ul class="list-reset about-mission__list grid">
      <li class="about-mission__item about-mission__item--quality">
        <h3 class="about-mission__subtitle">Quality</h3>
        <p class="about-mission__descr">
          Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam
          velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="about-mission__item about-mission__item--safety">
        <h3 class="about-mission__subtitle">Safety</h3>
        <p class="about-mission__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est&nbsp;ea.
        </p>
      </li>
      <li class="about-mission__item about-mission__item--comfort">
        <h3 class="about-mission__subtitle">Comfort</h3>
        <p class="about-mission__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea&nbsp;ad.
        </p>
      </li>
    </ul>
  </div>
</section>
