<section class="achieve">
  <h2 class="visually-hidden">Our achievements</h2>
  <div class="container">
    <ul class="achieve__list grid list-reset">
      <li class="achieve__item achieve__item--recom">
        <div class="achieve__value">60%</div>
        <div class="achieve__text">
          Clients on the recommendation of friends
        </div>
      </li>
      <li class="achieve__item achieve__item--renov">
        <div class="achieve__value">2400+</div>
        <div class="achieve__text">Apartments renovated</div>
      </li>
      <li class="achieve__item achieve__item--spec">
        <div class="achieve__value">670</div>
        <div class="achieve__text">Qualified specialists</div>
      </li>
      <li class="achieve__item achieve__item--finish">
        <div class="achieve__value">150000+ m<sup>2</sup></div>
        <div class="achieve__text">Finishing work was carried out</div>
      </li>
    </ul>
    <div class="achieve__content">
      <img
        src="img/achieve-man.jpg"
        alt=""
        aria-hidden="true"
        class="achieve__image"
      />
      <div class="achieve__info">
        <blockquote class="achieve__quote quote">
          <div class="quote__content">
            <p>
              Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in.
              Sed aliquet in egestas hac at proin sed quam. Etiam aliquet
              sagittis non, massa cum pulvinar. Et in leo, tempus purus
              vestibulum ut blandit et mi. Odio massa purus vel praesent arcu
              enim elit felis viverra.
            </p>
            <p>
              Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra
              quis metus amet eleifend amet. Vet suspendisse faucibus tempor
              ipsum integer.
            </p>
          </div>

          <footer class="quote__footer">
            <span class="quote__author">Courtney Alexander </span>
            CEO - Createx Construction Bureau
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
