<section class="categories">
  <div class="container">
    <h2 class="title title-center categories__title">Categories</h2>
    <ul class="categories-nav list-reset">
      <li class="categories-nav__item">
        <button
          class="btn-reset categories-nav__btn categories-nav__btn--active"
        >
          All News
        </button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Company News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Innovation</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Industry News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Expert Tips</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Marketing</button>
      </li>
    </ul>
    <ul class="list-reset categories-list grid">
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img
            src="img/recent-article-1.jpg"
            alt="article 1"
            class="news-article__image"
          />
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2021-06-24 19:00"
                >June 24, 2020</time
              >
              <span class="article-meta__item article-meta__item--comments"
                >4 comments</span
              >
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="list-reset categories-pag">
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link categories-pag__link--active"
          >1</a
        >
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">2</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">3</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link">4</a>
      </li>
      <li class="categories-pag__item">
        <a href="#" class="categories-pag__link" aria-label="next page">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
