<section class="clients">
  <div class="container">
    <h2 class="title title--center clients__titile">Our clients</h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-1.png"
            alt="Logo1"
            class="clients__logo"
        /></a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-2.png"
            alt="Logo2"
            class="clients__logo"
        /></a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-3.png"
            alt="Logo3"
            class="clients__logo"
        /></a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-4.png"
            alt="Logo4"
            class="clients__logo"
        /></a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-5.png"
            alt="Logo5"
            class="clients__logo"
        /></a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link"
          ><img
            src="img/partners/partners-6.png"
            alt="Logo6"
            class="clients__logo"
        /></a>
      </li>
    </ul>
  </div>
</section>
