<section class="contacts">
  <div class="container">
    <h2 class="title title--center">Contact us</h2>
    <p class="descr descr--center">
      Please complete the form. Detailed information will help us to make a
      tuned offer.
    </p>
    <div class="contacts__content">
      <img
        class="contacts__image"
        src="img/contacts-image.jpg"
        alt=""
        aria-hidden="true"
      />
      <form action="#" class="form-contacts">
        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Name*</span>
            <input
              type="text"
              name="name"
              required
              placeholder="Your name"
              class="form-field__input"
            />
          </label>
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">I am interested in</span>
            <select name="interested" class="form-field__select">
              <option value="">Chose interested</option>
              <option value="Interior_Desing">Interior Desing</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Phone*</span>
            <input
              type="tel"
              name="phone"
              required
              placeholder="Your phone number"
              class="form-field__input"
            />
          </label>
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Location*</span>
            <select name="location" class="form-field__select" required>
              <option value="">Chose location</option>
              <option value="New_York">New York</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-field form-field--gray form-contacts__field">
            <span class="form-field__caption">Email</span>
            <input
              type="email"
              name="email"
              placeholder="Your working email"
              class="form-field__input"
            />
          </label>
          <fieldset class="form-field form-contacts__fields">
            <legend class="form-field__caption">
              Preferred contact method
            </legend>
            <div class="form-field__flex">
              <label class="custom-radio form-contacts__radio">
                <input
                  type="radio"
                  name="contact_method"
                  value="Phone"
                  class="custom-radio__input"
                />
                <span class="custom-radio__text">Phone</span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input
                  type="radio"
                  name="contact_method"
                  value="Email"
                  class="custom-radio__input"
                />
                <span class="custom-radio__text">Email</span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input
                  type="radio"
                  name="contact_method"
                  value="Viber"
                  class="custom-radio__input"
                />
                <span class="custom-radio__text">Viber</span>
              </label>
            </div>
          </fieldset>
        </div>

        <label
          class="form-field form-field--gray form-contacts__field form-contacts__field--big"
        >
          <span class="form-field__caption">Messege*</span>
          <textarea
            name="message"
            placeholder="Your messege"
            class="form-field__input form-field__input--big"
          ></textarea>
        </label>
        <div class="form-contacts__bottom">
          <label class="custom-checkbox form-contacts__checkbox">
            <input type="checkbox" class="custom-checkbox__input" />
            <span class="custom-checkbox__text"
              >I agree to receive communications from Createx Construction
              Bureau.</span
            >
          </label>
          <button class="form-contacts__btn btn btn--fill" type="submit">
            Send Request
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
