<section class="desicions">
  <div class="container grid">
    <div class="desicions__left">
      <img src="img/desicions-img.jpg" alt="" aria-hidden="true" />
    </div>
    <div class="desicions__right">
      <h2 class="title desicions__title">Constructive decisions</h2>
      <ul class="desicions__list list-reset">
        <li class="desicions__item">
          Vitae ultrices ornare eu sed in est quisque duis id.
        </li>
        <li class="desicions__item">
          A fermentum in morbi pretium aliquam adipiscing donec tempus.
        </li>
        <li class="desicions__item">Mauris odio pellentesque commodo, diam.</li>
        <li class="desicions__item">
          Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
        </li>
        <li class="desicions__item">
          At pharetra libero blandit risus, fringilla sed commodo diam.
        </li>
        <li class="desicions__item">
          Integer ultricies viverra ut enim viverra ut.
        </li>
      </ul>
    </div>
  </div>
</section>
