<section class="facts">
  <div class="container">
    <h2 class="title title--center facts__title150">Some facts and figures</h2>
    <ul class="list-reset facts__list">
      <li class="facts__item">
        <div class="facts-element">
          <div
            class="facts-element__circle facts-element__circle--one-color"
            data-percent="58"
          >
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle
                class="progress-bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="facts-element__value">98%</div>
          </div>

          <span class="facts-element__text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div
            class="facts-element__circle facts-element__circle--two-color"
            data-percentage="true"
            data-full="50"
            data-value="20"
          >
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle
                class="progress-bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke="yellow"
                stroke-width="15"
              ></circle>
              <circle
                class="progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke="crimson"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="facts-element__value">98%</div>
          </div>

          <span class="facts-element__text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div
            class="facts-element__circle facts-element__circle--three-color"
            data-percentage="true"
            data-full="10000"
            data-value="9452"
          >
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle
                class="progress-bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke="yellow"
                stroke-width="15"
              ></circle>
              <circle
                class="progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke="crimson"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="facts-element__value">98%</div>
          </div>

          <span class="facts-element__text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div
            class="facts-element__circle facts-element__circle--four-color"
            data-percent="99"
          >
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle
                class="progress-bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="facts-element__value">98%</div>
          </div>

          <span class="facts-element__text">Succeeded projects</span>
        </div>
      </li>
    </ul>
  </div>
</section>
