<footer class="footer">
  <div class="container footer__container grid">
    <div class="footer__left">
      <div class="footer__top">
        <a href="#" class="footer__logo">
          <img src="img/logo-footer.svg" alt="CreateX logo" />
        </a>
        <ul class="social footer-social list-reset">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="WhatsApp"
            >
              <svg>
                <use xlink:href="img/sprite.svg#whats" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Messenger"
            >
              <svg>
                <use xlink:href="img/sprite.svg#mess" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Facebook"
              ><svg>
                <use xlink:href="img/sprite.svg#facebook" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Twitter"
              ><svg>
                <use xlink:href="img/sprite.svg#twitter" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Youtube "
              ><svg>
                <use xlink:href="img/sprite.svg#youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <p class="footer__descr">
        Createx Construction Bureau has been successfully operating in the USA
        construction market since 2000. We are proud to offer you quality
        construction and exemplary service. Our mission is to set the highest
        standards for construction sphere.
      </p>
    </div>

    <form action="#" class="footer-form footer__form">
      <h3 class="footer-form__subtitle">Let’s stay in touch</h3>
      <div class="footer-form__items">
        <label class="form-field form-field--gray contacts-form__field">
          <input
            type="email"
            name="email"
            placeholder="Your email adress"
            class="form-field__input"
          />
        </label>
        <button class="footer-form__btn btn btn--fill">Subscribe</button>
      </div>

      <p class="footer-form__descr">
        *Subscribe to our newsletter to receive communications and early updates
        from Createx Construction Bureau.
      </p>
    </form>

    <adress class="footer-adress footer__adress">
      <h3 class="footer-adress__title footer-title">HEAD OFFICE</h3>
      <span class="footer-adress__item">
        <span class="footer-adress__name">Address:</span>
        8502 Preston Rd. Inglewood, New York
      </span>
      <span class="footer-adress__item">
        <span class="footer-adress__name">Call:</span>
        <a class="footer-adress__name" href="tel:4055550128">(405) 555-0128</a>
      </span>
      <span class="footer-adress__item">
        <span class="footer-adress__name">Email:</span>
        <a class="footer-adress__name" href="mailto:hello@createx.com"
          >hello@createx.com</a
        >
      </span>
    </adress>

    <nav class="footer-nav footer__nav" title="secondory navigation">
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Who we are</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">About Us</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Available Positions</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">OUR EXPERIENCE</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Services</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Work</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">News</a>
          </li>
        </ul>
      </div>
    </nav>

    <small class="footer__copyright"
      >&copy;&nbsp;All rights reserved. Made with
      <span>by Createx Studio</span>
    </small>
  </div>
</footer>
