<section class="page-hero page-hero--positions">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">About us</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Available Positions</a>
      </li>
    </ul>
    <h1 class="page-hero__title">AVAILABLE POSITIONS</h1>
    <p class="page-hero__descr">
      Build your career with Createx Construction Bureau.
    </p>
  </div>
</section>
