<section class="page-hero page-hero--news">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">News</a>
      </li>
    </ul>
    <h1 class="page-hero__title">News</h1>
    <p class="page-hero__descr">
      Stay tuned with our news, expert tips and articles.
    </p>
  </div>
</section>
