<section class="page-hero page-hero--about">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">About us</a>
      </li>
    </ul>
    <h1 class="page-hero__title">About Us</h1>
    <p class="page-hero__descr">
      Createx Construction Bureau has been successfully operating in the USA
      construction market since 2000. We are proud to offer you quality
      construction and exemplary service.
    </p>
  </div>
</section>
