<section class="page-hero page-hero--contacts">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Contacts</a>
      </li>
    </ul>
    <h1 class="page-hero__title">Contacts</h1>
    <p class="page-hero__descr">
      Contact us for all your construction needs. We always welcome any
      questions and comments.
    </p>
  </div>
</section>
