<section class="page-hero page-hero--work-inner">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title-small page-hero__title--mb">
      Modern Cottage
    </h1>
    <div class="work-images">
      <div class="work-images-slider">
        <button class="btn-reset slider-nav__btn work-images__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn work-images__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Work 1" />
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Work 1" />
          </div>
          <div class="swiper-slide">
            <img src="img/work/1.jpg" alt="Work 1" />
          </div>
        </div>
      </div>
      <div class="work-images-nav" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work/1-small.jpg" alt="Work 1" />
          </div>
          <div class="swiper-slide">
            <img src="img/work/1-small.jpg" alt="Work 1" />
          </div>
          <div class="swiper-slide">
            <img src="img/work/1-small.jpg" alt="Work 1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
