<section class="page-hero page-hero--post">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link"
          >How to Build Climate Change-Resilient Infrastructure</a
        >
      </li>
    </ul>
    <h1 class="page-hero__title">
      How to Build Climate Change-Resilient Infrastructure
    </h1>
    <div class="page-hero__bottom">
      <div class="page-hero__meta article-meta">
        <a href="#" class="article-meta__item">Industry News</a>
        <time class="article-meta__item" datetime="2020-06-24 19:00"
          >June 24, 2020</time
        >
        <span class="article-meta__item article-meta__item--comments"
          >4 comments</span
        >
      </div>
      <ul class="social page-hero__social list-reset">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Facebook"
            ><svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="LinkedIn"
            ><svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Twitter"
            ><svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
