<section class="page-hero page-hero--work">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Work</a>
      </li>
    </ul>
    <h1 class="page-hero__title">Our work</h1>
    <p class="page-hero__descr">
      Our portfolio represents 20 years of construction experience backed by a
      passion for perfect client service, quality and innovations in
      consctuction industry.
    </p>
  </div>
</section>
