<section class="mission section-offset">
  <div class="container">
    <h2 class="title title--center">Our core values</h2>
    <p class="descr descr--center">
      Our mission is&nbsp;to&nbsp;set the highest standards for construction
      sphere.
    </p>
    <ul class="list-reset mission__list grid">
      <li class="mission__item mission__item--quality">
        <h3 class="mission__subtitle">Quality</h3>
        <p class="mission__descr">
          Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam
          velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="mission__item mission__item--safety">
        <h3 class="mission__subtitle">Safety</h3>
        <p class="mission__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est&nbsp;ea.
        </p>
      </li>
      <li class="mission__item mission__item--comfort">
        <h3 class="mission__subtitle">Comfort</h3>
        <p class="mission__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea&nbsp;ad.
        </p>
      </li>
    </ul>
    <form action="" class="know-form">
      <h2 class="know-form__title">Want to know more? Ask us a question:</h2>
      <div class="know-form__content">
        <label class="know-form__field form-field">
          <span class="form-field__caption">Name</span>
          <input
            class="form-field__input"
            type="text"
            placeholder="Your name"
          />
        </label>
        <label class="know-form__field form-field">
          <span class="form-field__caption">Phone</span>
          <input
            class="form-field__input"
            type="tel"
            placeholder="Your phone"
          />
        </label>
        <label class="know-form__field form-field form-field--big">
          <span class="form-field__caption">Message</span>
          <input
            class="form-field__input"
            type="text"
            placeholder="Your massage"
          />
        </label>
        <button class="btn-reset know-form__btn btn btn--fill" type="submit">
          Send
        </button>
      </div>
    </form>
  </div>
</section>
