<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__titile">Our partners</h2>
    <p class="descr descr--center">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-1.png"
            alt="Logo1"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-2.png"
            alt="Logo2"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-3.png"
            alt="Logo3"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-4.png"
            alt="Logo4"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-5.png"
            alt="Logo5"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-6.png"
            alt="Logo6"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-1.png"
            alt="Logo1"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-2.png"
            alt="Logo2"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-3.png"
            alt="Logo3"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-4.png"
            alt="Logo4"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-5.png"
            alt="Logo5"
            class="partners__logo"
        /></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link"
          ><img
            src="img/partners/partners-6.png"
            alt="Logo6"
            class="partners__logo"
        /></a>
      </li>
    </ul>
  </div>
</section>
