<section class="positions-content">
  <h2 class="visually-hidden">Our available positions</h2>
  <div class="container">
    <div class="positions-content__info grid">
      <div class="positions-content__left">
        <ul class="list-reset positions-list">
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">New York</span>
                  <span class="positions-item__time">Full Time</span>
                </div>
                <h3 class="positions-item__title">Heavy Equipment Operator</h3>
              </div>
              <a class="btn btn--stroke-primary positions-item__link">
                Apply now
              </a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">San Francisco</span>
                  <span class="positions-item__time">Full Time</span>
                </div>
                <h3 class="positions-item__title">
                  Financial Compliance Analyst
                </h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">
                Apply now
              </a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">New Jersey</span>
                  <span class="positions-item__time">Full Time</span>
                </div>
                <h3 class="positions-item__title">
                  Project Manager - Buildings
                </h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">
                Apply now
              </a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">New York</span>
                  <span class="positions-item__time">Part Time</span>
                </div>
                <h3 class="positions-item__title">Environment Specialist</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">
                Apply now
              </a>
            </article>
          </li>
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">New York</span>
                  <span class="positions-item__time">Full Time</span>
                </div>
                <h3 class="positions-item__title">Accountant</h3>
              </div>
              <a href="#" class="btn btn--stroke-primary positions-item__link">
                Apply now
              </a>
            </article>
          </li>
        </ul>
      </div>
      <div class="positions-content__right">
        <div class="positions-looking">
          <h3 class="positions-looking__title">
            Didn’t find what you were looking for?
          </h3>
          <p class="positions-looking__descr">
            Send your CV or subscribe to our newsletter to receive information
            about new vacancies.
          </p>
          <div class="positions-looking__btns">
            <button
              class="btn-reset btn btn--stroke-primary positions-looking__btns--subs"
            >
              subscribe
            </button>
            <button
              class="btn-reset btn btn--fill positions-looking__btns--send"
            >
              send cv
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
