<acticle class="post">
  <div class="container">
    <img src="img/blog-cover.jpg" alt="Превью поста" class="post__cover" />
    <div class="post__wrapper">
      <div class="post__content">
        <h2>
          Vulputate vitae pellentesque scelerisque luctus consequat mattis
          pellentesque dui odio. Interdum aenean sit malesuada ornare sed
          gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit
          ac euismod.
        </h2>
        <p>
          At facilisi sapien posuere eget nunc senectus proin nullam. Tortor
          senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing
          eget diam nisi. Orci, consectetur vulputate metus ornare pharetra,
          neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat
          leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.
        </p>
        <p>
          Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci
          interdum feugiat lectus libero duis. Nisl massa, elementum varius sit.
          Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed
          duis diam vehicula rhoncus. In dictum nullam tincidunt semper
          pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc,
          non.
        </p>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet
          lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed
          purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
          tortor in tot euismod vulputate etiam eros. Vel accumsan at elit
          neque, ipsum.
        </blockquote>
        <p>
          Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut
          erat mattis. Vitae mus blandit in neque amet non fringilla blandit:
        </p>
        <ul>
          <li>A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
          <li>Vulputate placerat amet pulvinar lorem nisl.</li>
          <li>
            Consequat feugiat habitant gravida quisque elit bibendum id
            adipiscing sed.
          </li>
          <li>Etiam duis lobortis in fames ultrices commodo nibh.</li>
        </ul>
        <p>
          Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id
          nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur
          volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur
          neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices
          fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at
          porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis
          sagittis curabitur tellus convallis eget netus vitae.
        </p>
      </div>
      <div class="post__share">
        <span>Share:</span>
        <ul class="social post__social list-reset">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Facebook"
              ><svg>
                <use xlink:href="img/sprite.svg#facebook" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="LinkedIn"
              ><svg>
                <use xlink:href="img/sprite.svg#linked" />
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link"
              aria-label="Twitter"
              ><svg>
                <use xlink:href="img/sprite.svg#twitter" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      @include('post-comments.html') @include('post-form.html')
    </div>
  </div>
</acticle>
