<form class="post-form">
  <h2 class="title title--center post-form__title">Leave your comment</h2>
  <div class="post-form__content">
    <label class="form-field form-field--gray post-form__field">
      <span class="form-field__caption">Name*</span>
      <input
        type="text"
        name="name"
        required
        placeholder="Your name"
        class="form-field__input"
      />
    </label>
    <label class="form-field form-field--gray post-form__field">
      <span class="form-field__caption">Email*</span>
      <input
        type="email"
        name="email"
        required
        placeholder="Your working email"
        class="form-field__input"
      />
    </label>
    <label
      class="form-field form-field--gray post-form__field post-form__field--big"
    >
      <span class="form-field__caption">Your comment*</span>
      <textarea
        name="message"
        placeholder="Type comment here"
        class="form-field__input form-field__input--big"
      ></textarea>
    </label>
    <div class="centered">
      <button class="btn btn-reset btn--fill post-form__btn">
        Post comment
      </button>
    </div>
  </div>
</form>
