<section class="project-goal">
  <div class="container grid">
    <div class="project-goal__left">
      <h2 class="title project-goal__title">Project goal</h2>
      <p class="project-goal__descr">
        Build a private house 840 sq. feet with a large living room, three
        bedrooms, two bathrooms, a terrace, a pool and a garage for two cars.
      </p>
      <p class="project-goal__descr">
        Modern design and care for each family member to feel as comfortable
        as possible in the new home.
      </p>
    </div>
    <div class="project-goal__right">
      <div class="project-info">
        <ul class="project-info__list list-reset">
          <li class="project-info__item">
            <div class="project-info__category">LOCATION</div>
            <div class="project-info__value">
              2464 Royal Ln. Mesa, New Jersey
            </div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">CLIENT</div>
            <div class="project-info__value">Darlene Robertson</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">ARCHITECT</div>
            <div class="project-info__value">HIK Architecture</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">SIZE</div>
            <div class="project-info__value">840 sq. feet</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">VALUE</div>
            <div class="project-info__value">$2 million</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">COMPLETED</div>
            <div class="project-info__value">May 2020</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
