<section class="related-projects">
  <div class="container container-portfolio-slide">
    <div class="related-projects__top">
      <h2 class="title related-projects__title">Related projects</h2>
      <div class="slider-nav related-projects__slider-nav">
        <button
          class="btn-reset slider-nav__btn related-projects__prev slider-btn"
        >
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button
          class="btn-reset slider-nav__btn related-projects__next slider-btn"
        >
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper related-projects__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img
              class="portfolio-item__image"
              src="img/related-proj-1.jpg"
              alt="related-projects cover"
            />
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img
              class="portfolio-item__image"
              src="img/related-proj-1.jpg"
              alt="related-projects cover"
            />
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img
              class="portfolio-item__image"
              src="img/related-proj-1.jpg"
              alt="related-projects cover"
            />
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img
              class="portfolio-item__image"
              src="img/related-proj-1.jpg"
              alt="related-projects cover"
            />
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img
              class="portfolio-item__image"
              src="img/related-proj-1.jpg"
              alt="related-projects cover"
            />
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="related-projects__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">
        View portfolio
      </a>
    </div>
  </div>
</section>
