<section class="services-section section-offset">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="list-reset services-list services-section__list grid">
      <li class="services-list__item">
        <a href="#" class="services-item services-item--construct">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#services-1"></use>
            </svg>
            <h3 class="services-item__title">Construction</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a href="#" class="services-item">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#services-2"></use>
            </svg>
            <h3 class="services-item__title">Project Development</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a href="#" class="services-item">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#services-3"></use>
            </svg>
            <h3 class="services-item__title">Interior Design</h3>
          </div>
        </a>
      </li>
      <li class="services-list__item">
        <a href="#" class="services-item">
          <div class="services-item__content">
            <svg class="services-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#services-4"></use>
            </svg>
            <h3 class="services-item__title">Repairs</h3>
          </div>
        </a>
      </li>
    </ul>
    <div class="services-section__learn learn-more">
      <h4 class="learn-more__subtitle">Learn more about our services</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">
        View services
      </a>
    </div>
  </div>
</section>
