<section class="services">
  <img
    src="img/services-content-bg-1.png"
    alt=""
    aria-hidden="true"
    class="services-decorate-1"
  />
  <img
    src="img/services-content-bg-2.png"
    alt=""
    aria-hidden="true"
    class="services-decorate-2"
  />
  <div class="container">
    <h2 class="visually-hidden">Services content</h2>
    <ul class="list-reset services__list">
      <li class="services__item grid">
        <div class="services__image">
          <img src="img/services-content-1.jpg" alt="services 1" />
        </div>
        <div class="services__info">
          <h2 class="services__title">Construction</h2>
          <p class="services__descr">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius
            consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id
            sodales ultricies sed ut ut augue. Mattis habitant venenatis,
            gravida posuere massa ac interdum. Eget aliquam dignissim ut
            vestibulum.
          </p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-primary"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services__item grid services__item--reverse">
        <div class="services__image">
          <img src="img/services-content-2.jpg" alt="services 2" />
        </div>
        <div class="services__info">
          <h2 class="services__title">Project Development</h2>
          <p class="services__descr">
            Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
            viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit
            vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-primary"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services__item grid">
        <div class="services__image">
          <img src="img/services-content-3.jpg" alt="services 3" />
        </div>
        <div class="services__info">
          <h2 class="services__title">Interior Design</h2>
          <p class="services__descr">
            Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
            lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
            sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget
            molestie. Turpis enim arcu, amet donec massa pellentesque nulla
            duis. Arcu dictum metus sed purus senectus faucibus eget elementum
            pretium.
          </p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-primary"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services__item grid services__item--reverse">
        <div class="services__image">
          <img src="img/services-content-4.jpg" alt="services 4" />
        </div>
        <div class="services__info">
          <h2 class="services__title">Repairs</h2>
          <p class="services__descr">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
            commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id
            egestas mattis. Turpis viverra nec urna ultrices urna.
          </p>
          <a href="#" class="services__link btn btn--stroke btn--stroke-primary"
            >Learn more</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
