<section class="team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">
      People are at the heart of Createx Construction Bureau
    </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <img src="img/team/team-1.jpg" alt="Alex" class="team__image" />
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
        <div class="team__socials">
          <a href="#" target="_blank" class="team__link" aria-label="Linked in">
            <svg>
              <use xlink:href="img/sprite.svg#linked" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
          </a>
          <a href="#" target="_blank" class="team__link" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="team__text">
      Become a part of the best team in the construction market of the USA.
      <a href="#">Available Positions</a>
    </div>
  </div>
</section>
