<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__content">
      <h2 class="titile testimonials__title">What our clients are saying</h2>
      <div class="swiper testimonials__items">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img
                  src="img/testimonials-author.png"
                  alt="Human1"
                  class="testimonials-item__image"
                />
              </div>
              <p class="testimonials-item__descr">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                eiusmod enim. Consectetur magna cillum consequat minim laboris
                cillum laboris voluptate minim proident exercitation ullamco.
              </p>
              <span class="testimonials-item__author">Shawn Edwards</span>
              <span class="testimonials-item__author-position"
                >Position, Company name</span
              >
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img
                  src="img/testimonials-author.png"
                  alt="Human1"
                  class="testimonials-item__image"
                />
              </div>
              <p class="testimonials-item__descr">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                eiusmod enim. Consectetur magna cillum consequat minim laboris
                cillum laboris voluptate minim proident exercitation ullamco.
              </p>
              <span class="testimonials-item__author">Shawn Edwards</span>
              <span class="testimonials-item__author-position"
                >Position, Company name</span
              >
            </div>
          </div>
        </div>
        <div class="slider-nav testimonials__slider-nav">
          <button
            class="btn-reset slider-nav__btn testimonials__prev slider-btn"
          >
            <svg>
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button
            class="btn-reset slider-nav__btn testimonials__next slider-btn"
          >
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <img
      src="img/testimonials-image.jpg"
      alt=""
      aria-hidden="true"
      class="testimonials__image"
    />
  </div>
</section>
