<section class="we-offer">
  <div class="container we-offer__container grid">
    <div class="we-offer__image">
      <img src="img/we-offer.jpg" alt="We offer" class="we-offer__img" />
    </div>
    <div class="we-offer__content">
      <h2 class="title we-offer__title">We offer</h2>
      <div class="accordion accordion-1 we-offer__accordion open is-open">
        <button class="btn-reset accordion__control" aria-expanded="false">
          <span class="accordion__title">Interior design of appartaments</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet
            elementum faucibus dignissim purus. Fusce parturient diam magna
            ullamcorper morbi semper massa ac facilisis.
          </p>
        </div>
      </div>
      <div class="accordion accordion-2 we-offer__accordion">
        <button class="btn-reset accordion__control" aria-expanded="false">
          <span class="accordion__title"
            >Interior design of private houses</span
          >
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet
            elementum faucibus dignissim purus. Fusce parturient diam magna
            ullamcorper morbi semper massa ac facilisis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
