html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// .page {
//   height: 100%;
// font-family: var(--font-family, sans-serif);
// -webkit-text-size-adjust: 100%;
// }

.page__body {
  margin: 0;
  // min-width: 320px;
  // min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.container-portfolio-slide {
  overflow-x: clip;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-ebony);

  span {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);

  &--home {
    color: var(--color-light);
    margin-bottom: 60px;
  }
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--fill {
    background-color: var(--color-primary);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-active);
    }

    &:active {
      background-color: var(--color-active);
    }

    // &-primary {
    //   border-color: var(--color-primary);
    // }
  }

  &--stroke {
    border-style: solid;
    border-width: 1px;

    &-light {
      border-color: var(--color-light);
      color: var(--color-light);
    }

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    &:active {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  &--center {
    text-align: center;
  }
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);

  &--center {
    text-align: center;
  }
}

.section-offset {
  padding-top: 120px;
}

.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    min-width: 16px;
    min-height: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    min-width: 16px;
    min-height: 16px;
    background-image: url("../img/check.svg");
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:focus + &__text {
    outline: 3px solid var(--color-primary);
  }
}

.custom-radio {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    display: inline-block;
    border: 1px solid #b3b7bc;
    border-radius: 100%;
    min-width: 16px;
    min-height: 16px;
    transition: border-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    min-width: 16px;
    min-height: 16px;
    background-image: url("../img/check-circle.svg");
    background-position: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    border-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:focus + &__text {
    outline: 3px solid var(--color-primary);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
